In [9]:
import pandas as pd

In [10]:
# Define food and drinks sets
food = {'Add On', 'Bar Snack', 'Bites', 'Brunch', 'Burger', 'Chargrill', 'Chicken or Prawn Add ', 
        'Combo', 'Dessert', 'Doneness', 'Foods', 'GF Add Ons', 'GF Burger and Hotdog', 'Mains', 
        'Pasta', 'Pizza', 'Platter', 'Serving Choice', 'Sides', 'Smoothie', 'Soup', 'Starter', 'Hotdog'}

drinks = {'Bottled Beer', 'Bourbon', 'Choice of Margarita / ', 'Ciders', 'Cocktail', 'Coffee', 
          'Coffee Options', 'Cognac', 'Corkage', 'Draught Beers', 'Drinks', 'Gin', 'Juices', 
          'Liqueurs & Aperitifs', 'Live Craft Beer', 'Mineral Water', 'Mocktails', 'Red Wine', 
          'Rose Wine', 'Rum', 'Soft Drink', 'Sparkling & Champagne', 'Tea', 'Tequila', 'Vodka', 
          'Whisky', 'White Wine'}

# Date range boundaries
start_date = pd.Timestamp('2024-12-01')
end_date = pd.Timestamp('2025-03-31')

def clean_itemgroup_data(file_path):
    # Read Excel file
    df = pd.read_excel(file_path, engine='xlrd', skiprows=4)
    df = df[:-1]
    df = df.dropna(axis=1, how='all')
    df.columns = ['Date'] + list(df.columns[1:])
    
    # Drop unnecessary columns
    if 'Unnamed: 2' in df.columns:
        df = df.drop(columns=['Unnamed: 2'])
    
    df = df[df['Date'] != 'Total']
    df = df[df['Date'].notna()]
    
    # Drop columns with 'Unnamed' prefix
    unnamed_columns = [col for col in df.columns if col.startswith('Unnamed')]
    df = df.drop(columns=unnamed_columns)
    
    # Format the Date column
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
    
    # Filter by date range
    df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    # Convert the date back to the desired format
    df['Date'] = df['Date'].dt.strftime('%d/%m/%Y')
    
    # Convert all columns except 'Date' to float, handling non-numeric values
    for col in df.columns[1:]:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Calculate total_food and total_drinks for each row
    food_cols = list(food.intersection(df.columns))
    drink_cols = list(drinks.intersection(df.columns))

    df['total_food'] = df[food_cols].sum(axis=1, skipna=True)
    df['total_drinks'] = df[drink_cols].sum(axis=1, skipna=True)
    
    # Drop all columns except Date, total_food, total_drinks, Total
    columns_to_keep = ['Date', 'total_food', 'total_drinks', 'Total']
    df = df[[col for col in columns_to_keep if col in df.columns]]
    
    # Convert column names to lowercase
    df.columns = df.columns.str.lower()
    
    return df

def clean_daily_summary(file_path):
    # Read CSV file with appropriate skipping of rows and footers
    df = pd.read_csv(file_path, skiprows=4, skipfooter=7, engine='python')
    
    # Drop unnamed columns
    unnamed_columns = [col for col in df.columns if col.startswith('Unnamed:')]
    df.drop(columns=unnamed_columns, inplace=True)
    
    # Convert START column to date format
    df['START'] = pd.to_datetime(df['START'], format='%d/%m/%Y %H:%M:%S', errors='coerce')
    
    # Filter by date range
    df = df[(df['START'] >= start_date) & (df['START'] <= end_date)]
    
    # Format the date to the desired format
    df['START'] = df['START'].dt.strftime('%d/%m/%Y')
    
    # Drop all other columns except START, ORDERS COUNT, AVG ORDER
    columns_to_keep = ['START', 'ORDERS COUNT', 'AVG ORDER']
    df = df[[col for col in columns_to_keep if col in df.columns]]
    
    # Rename START to date
    df.rename(columns={'START': 'date'}, inplace=True)
    
    # Convert all column names to lowercase
    df.columns = df.columns.str.lower()
    
    # Group by date and sum the values for duplicates
    df = df.groupby('date', as_index=False).sum()

    return df

def merge_outlet(itemgroup, daily_summary, outlet_name):
    # Merge itemgroup and daily summary using an outer join on date
    merged = pd.merge(itemgroup, daily_summary, on='date', how='outer', suffixes=('_itemgroup', '_daily'))
    # Sort by date
    merged = merged.sort_values(by='date').reset_index(drop=True)
    # Rename the merged DataFrame for each outlet
    merged.name = f"{outlet_name}_merged"
    return merged

In [ ]:
df = pd.read_excel(r'daily_data\Picotin_overview.xlsx', engine='openpyxl')
df = df.drop(columns=['Timestamp'])
df = df.dropna(axis=1, how='all')

#manually replace incorrect entries
df.loc[167, 'Date'] = '2024-12-11 00:00:00'
df.loc[170, 'Date'] = '2024-12-12 00:00:00'
df.loc[456, 'Date'] = '2025-04-01 00:00:00'
df.loc[459, 'Date'] = '2025-04-02 00:00:00'
df.loc[461, 'Date'] = '2025-04-03 00:00:00'

df['Date'] = pd.to_datetime(df['Date'], errors='raise')

# Format the final date column to the desired format: MM/DD/YYYY
df['Date'] = df['Date'].dt.strftime('%d/%m/%Y')

df = df[(df['Date'] >= start_date.strftime('%d/%m/%Y')) & 
    (df['Date'] <= end_date.strftime('%d/%m/%Y'))].copy()

ASQ_itemgroup = clean_itemgroup_data(r'daily_data\ASQ_itemgroup_daily.xls')
ASQ_daily_summary = clean_daily_summary(r'daily_data\ASQ_daily_summary.csv')

KATONG_itemgroup = clean_itemgroup_data(r'daily_data\KATONG_itemgroup_daily.xls')
KATONG_daily_summary = clean_daily_summary(r'daily_data\KATONG_daily_summary.csv')

RC_itemgroup = clean_itemgroup_data(r'daily_data\RC_itemgroup_daily.xls')
RC_daily_summary = clean_daily_summary(r'daily_data\RC_daily_summary.csv')

In [12]:
outlets = ['ASQ', 'KATONG', 'RC']

for outlet in outlets:
    # Access the respective DataFrames dynamically
    daily_summary = globals().get(f'{outlet}_daily_summary')
    itemgroup = globals().get(f'{outlet}_itemgroup')
    
    if daily_summary is None or itemgroup is None:
        print(f"\nWarning: DataFrames for {outlet} are not loaded.")
        continue

    # Find unique dates from both DataFrames
    summary_dates = set(daily_summary['date'].dropna().unique())
    itemgroup_dates = set(itemgroup['date'].dropna().unique())

    # Find missing dates
    missing_in_itemgroup = summary_dates - itemgroup_dates
    missing_in_summary = itemgroup_dates - summary_dates

    # Find duplicate dates in each DataFrame
    duplicates_in_summary = daily_summary['date'][daily_summary['date'].duplicated()]
    duplicates_in_itemgroup = itemgroup['date'][itemgroup['date'].duplicated()]

    # Display the results for the current outlet
    print(f"\nOutlet: {outlet}")
    print("Dates missing in itemgroup:", sorted(missing_in_itemgroup))
    print("Dates missing in daily summary:", sorted(missing_in_summary))
    print("Duplicate dates in daily summary:", duplicates_in_summary.unique())
    print("Duplicate dates in itemgroup:", duplicates_in_itemgroup.unique())

Outlet: ASQ
Dates missing in itemgroup: []
Dates missing in daily summary: []
Duplicate dates in daily summary: []
Duplicate dates in itemgroup: []

Outlet: KATONG
Dates missing in itemgroup: []
Dates missing in daily summary: ['31/03/2025']
Duplicate dates in daily summary: []
Duplicate dates in itemgroup: []

Outlet: RC
Dates missing in itemgroup: []
Dates missing in daily summary: ['01/12/2024', '05/12/2024', '18/01/2025', '24/12/2024', '31/03/2025']
Duplicate dates in daily summary: []
Duplicate dates in itemgroup: []

In [13]:
# Merge each outlet
ASQ_merged = merge_outlet(ASQ_itemgroup, ASQ_daily_summary, 'ASQ')
KATONG_merged = merge_outlet(KATONG_itemgroup, KATONG_daily_summary, 'KATONG')
RC_merged = merge_outlet(RC_itemgroup, RC_daily_summary, 'RC')

In [14]:
df_copy = df.copy()


# Print data types of both date columns
print("Data type of 'Date' in df:")
print(df['Date'].dtype)
print("\nData type of 'date' in ASQ_merged:")
print(ASQ_merged['date'].dtype)

# Check for empty or null values in both date columns
print("\nNumber of empty or NaN values in 'Date' column of df:")
print(df['Date'].isna().sum())

print("\nNumber of empty or NaN values in 'date' column of ASQ_merged:")
print(ASQ_merged['date'].isna().sum())

# Print rows where Date is NaN in both dataframes
print("\nRows with empty 'Date' in df:")
print(df[df['Date'].isna()])

print("\nRows with empty 'date' in ASQ_merged:")
print(ASQ_merged[ASQ_merged['date'].isna()])

Data type of 'Date' in df:
object

Data type of 'date' in ASQ_merged:
object

Number of empty or NaN values in 'Date' column of df:
0

Number of empty or NaN values in 'date' column of ASQ_merged:
0

Rows with empty 'Date' in df:
Empty DataFrame
Columns: [Outlet, Date, Day, Breakfast Sales, Lunch Sales, Evening Sales, Dinner Lunch Sales, Night Sales, Total Sales, Number of Breakfast Floor Staff, Number of Lunch Floor Staff, Number of Evening Floor Staff, Number of Dinner Floor Staff, Number of Night Floor Staff, Number of Breakfast Kitchen Staff, Number of Lunch Kitchen Staff, Number of Evening Kitchen Staff, Number of Dinner Kitchen Staff, Number of Night Kitchen Staff, Total Taxi Claims, Last Bill Closed, Closing Time, Closing Manager Name, Total Floor Staff Hours, Total Kitchen Staff Hours]
Index: []

[0 rows x 25 columns]

Rows with empty 'date' in ASQ_merged:
Empty DataFrame
Columns: [date, total_food, total_drinks, total, orders count, avg order]
Index: []

In [15]:
df_x = df[df['Outlet'] == 'Asia Square'].copy()


df_x['Date'] = pd.to_datetime(df_x['Date'], format='%d/%m/%Y', errors='coerce', dayfirst=True)
ASQ_merged['date'] = pd.to_datetime(ASQ_merged['date'], format='%d/%m/%Y', errors='coerce', dayfirst=True)

df_x['Date'] = df_x['Date'].dt.strftime('%d/%m/%Y')
ASQ_merged['date'] = ASQ_merged['date'].dt.strftime('%d/%m/%Y')

print(df_x['Date'].head())
print(ASQ_merged['date'].head())

df_x_dates = set(df_x['Date'].unique())
ASQ_merged_dates = set(ASQ_merged['date'].unique())

# Find dates that are in one dataframe but not the other
mismatched_dates = df_x_dates.symmetric_difference(ASQ_merged_dates)

print(f"Number of mismatched dates: {len(mismatched_dates)}")

for date in mismatched_dates:
    if date in df_x_dates:
        print(f"Date {date} is in df_x but not in ASQ_merged")
    else:
        print(f"Date {date} is in ASQ_merged but not in df_x")

1    04/11/2024
2    05/11/2024
3    06/11/2024
4    07/11/2024
5    08/11/2024
Name: Date, dtype: object
0    02/01/2025
1    02/12/2024
2    03/01/2025
3    03/02/2025
4    03/03/2025
Name: date, dtype: object
Number of mismatched dates: 52
Date 19/11/2024 is in df_x but not in ASQ_merged
Date 29/10/2024 is in df_x but not in ASQ_merged
Date 31/12/2024 is in ASQ_merged but not in df_x
Date 02/12/2024 is in ASQ_merged but not in df_x
Date 14/10/2024 is in df_x but not in ASQ_merged
Date 07/04/2025 is in df_x but not in ASQ_merged
Date 02/10/2024 is in df_x but not in ASQ_merged
Date 14/11/2024 is in df_x but not in ASQ_merged
Date 11/10/2024 is in df_x but not in ASQ_merged
Date 04/11/2024 is in df_x but not in ASQ_merged
Date 03/10/2024 is in df_x but not in ASQ_merged
Date 04/12/2024 is in ASQ_merged but not in df_x
Date 08/04/2025 is in df_x but not in ASQ_merged
Date 24/10/2024 is in df_x but not in ASQ_merged
Date 08/11/2024 is in df_x but not in ASQ_merged
Date 08/10/2024 is in df_x but not in ASQ_merged
Date 18/11/2024 is in df_x but not in ASQ_merged
Date 02/04/2025 is in df_x but not in ASQ_merged
Date 16/10/2024 is in df_x but not in ASQ_merged
Date 28/10/2024 is in df_x but not in ASQ_merged
Date 27/11/2024 is in df_x but not in ASQ_merged
Date 06/11/2024 is in df_x but not in ASQ_merged
Date 23/10/2024 is in df_x but not in ASQ_merged
Date 20/11/2024 is in df_x but not in ASQ_merged
Date 07/11/2024 is in df_x but not in ASQ_merged
Date 03/04/2025 is in df_x but not in ASQ_merged
Date 13/11/2024 is in df_x but not in ASQ_merged
Date 15/11/2024 is in df_x but not in ASQ_merged
Date 21/11/2024 is in df_x but not in ASQ_merged
Date 18/10/2024 is in df_x but not in ASQ_merged
Date 22/11/2024 is in df_x but not in ASQ_merged
Date 28/11/2024 is in df_x but not in ASQ_merged
Date 12/11/2024 is in df_x but not in ASQ_merged
Date 26/11/2024 is in df_x but not in ASQ_merged
Date 15/10/2024 is in df_x but not in ASQ_merged
Date 30/10/2024 is in df_x but not in ASQ_merged
Date 29/11/2024 is in df_x but not in ASQ_merged
Date 05/12/2024 is in ASQ_merged but not in df_x
Date 03/12/2024 is in ASQ_merged but not in df_x
Date 04/10/2024 is in df_x but not in ASQ_merged
Date 09/10/2024 is in df_x but not in ASQ_merged
Date 04/04/2025 is in df_x but not in ASQ_merged
Date 11/11/2024 is in df_x but not in ASQ_merged
Date 25/11/2024 is in df_x but not in ASQ_merged
Date 17/10/2024 is in df_x but not in ASQ_merged
Date 05/11/2024 is in df_x but not in ASQ_merged
Date 21/10/2024 is in df_x but not in ASQ_merged
Date 25/10/2024 is in df_x but not in ASQ_merged
Date 07/10/2024 is in df_x but not in ASQ_merged
Date 17/12/2024 is in ASQ_merged but not in df_x
Date 10/10/2024 is in df_x but not in ASQ_merged
Date 22/10/2024 is in df_x but not in ASQ_merged

In [16]:
print(ASQ_merged.shape)
print(RC_merged.shape)
print(KATONG_merged.shape)

print(ASQ_merged_full.shape)
print(RC_merged_full.shape)
print(KATONG_merged_full.shape)

(81, 6)
(121, 6)
(121, 6)

NameError: name 'ASQ_merged_full' is not defined

In [ ]:
RC_merged_full